MONGODB_URI= mongodb://localhost:27017
MONGODB_DB_NAME=aptagon_courses
JWT_SECRET=replace-with-long-random-string
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000
SOCKET_PORT=3001
